<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TemplFile | Founders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <!-- Bulma Version 0.9.0-->
    <link rel="stylesheet" href="https://unpkg.com/bulma@0.9.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <style type="text/css">
        html,
        body {
            font-family: 'Open Sans';
        }

        img {
            padding: 5px;
            border: 1px solid #ccc;
        }
    </style>
</head>

<body>
    <section class="hero is-fullheight is-default is-bold">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <span class="navbar-burger burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="tabs is-right">
                                <ul>
                                    <li><a  href="/">Home</a></li>
                                    <li class="is-active"><a href="/founders">Founders</a></li>
                                    <li><a href="/login">Log In</a></li>
                                    <li><a href="/signup">Sign Up</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <div class="columns is-centered">
                    <div class="column is-3">
                         <div class="card">
                        <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="/static/images/profilo_bado.png" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4">Badoino Matteo</p>
                              <p class="subtitle is-6"><a href="https://github.com/BadoinoMatteo" target="_blank">@BadoinoMatteo</a></p>
                          </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="column is-3">
                         <div class="card">
                        <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="/static/images/profilo_gianlu.jpg" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4">Bernardi Gianluca</p>
                              <p class="subtitle is-6"><a href="https://github.com/GianluBerna" target="_blank">@GianluBerna</a></p>
                          </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="column is-3">
                         <div class="card">
                        <div class="card-image">
                        <figure class="image is-4by3">
                          <img src="/static/images/profilo_fra.jpg" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="card-content">
                        <div class="media">
                          <div class="media-content">
                            <p class="title is-4">Bruno Francesco</p>
                              <p class="subtitle is-6"><a href="https://github.com/FraBrunoSchool" target="_blank">@FraBrunoSchool</a></p>
                          </div>
                        </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer class="bg-primary text-white text-center text-lg-start">
          <!-- Copyright -->
          <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2021 Copyright
          </div>
          <!-- Copyright -->
      </footer>
      
    </section>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
      <script src="/static/script.js"></script>
</body>

</html>